/* Write your CSS code in this file */

html{
    text-align: center;
    font-size: 30px;
    background-color: black;
    color: white;
}

.container{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    height: 15vh;
    flex-direction: column;
}

#introSection{
    height: 15vh;
    flex-direction: column;
}


.input {
    padding: 10px;
}

.button {
    padding: 10px;
}

#hintSection {
    height: 15vh;
    flex-direction: column;
}

#outputSection {
    height: 15vh;
    color: red;
}

#guessSection{
    height: 15vh;
}
